In [221]:
import os
import numpy as np
import pandas as pd

from sklearn import model_selection

from scipy import stats

# Reading the Data

In [230]:
datapath = 'Data/'
test_csv = 'test.csv'
train_csv = 'train.csv'
sample_csv = 'sample_submission.csv'

In [5]:
data = pd.read_csv(os.path.join(datapath,train_csv))

# Understanding the Data

In [14]:
print('Variables with letters are categorical. Variables with 0/1 are binary values.')
data.head(3)

Variables with letters are categorical. Variables with 0/1 are binary values.

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,0,130.81,k,v,at,a,d,u,j,o,...,0,0,1,0,0,0,0,0,0,0
1,6,88.53,k,t,av,e,d,y,l,o,...,1,0,0,0,0,0,0,0,0,0
2,7,76.26,az,w,n,c,d,x,j,x,...,0,0,0,0,0,0,1,0,0,0

In [143]:
tp_int = []
tp_float = []
tp_obj = []
tp_other = []

#Getting all variables names, less ID and looking for it types 
for i in data.columns.to_series()[1:]:
    if data[i].dtype == 'int64':
        tp_int.append(i)
    elif data[i].dtype == 'float64':
        tp_float.append(i)
    elif data[i].dtype == 'object':
        tp_obj.append(i)
    else:
        tp_other.append(i)
        
dic = {'tp_int': tp_int, 'tp_float': tp_float, 'tp_obj': tp_obj, 'tp_other': tp_other}

print('Categorical:', tp_obj)
print('Float:', tp_float)
print('Has other type?', tp_other)

Categorical: ['X0', 'X1', 'X2', 'X3', 'X4', 'X5', 'X6', 'X8']
Float: ['y']
Has other type? []

In [152]:
drop = []
binarys = []
for i in tp_int:
    print('Variable: {}, Min: {}, Max: {} , Unique: {}'.format(i, data[i].min(), data[i].max() ,data[i].unique()))
    if data[i].max() == 0:
        drop.append(i)
    elif data[i].max() == 1 and data[i].min() == 0 and len(data[i].unique()) == 2:
        binarys.append(i)
    else:
        pass

Variable: X10, Min: 0, Max: 1 , Unique: [0 1]
Variable: X11, Min: 0, Max: 0 , Unique: [0]
Variable: X12, Min: 0, Max: 1 , Unique: [0 1]
Variable: X13, Min: 0, Max: 1 , Unique: [1 0]
Variable: X14, Min: 0, Max: 1 , Unique: [0 1]
Variable: X15, Min: 0, Max: 1 , Unique: [0 1]
Variable: X16, Min: 0, Max: 1 , Unique: [0 1]
Variable: X17, Min: 0, Max: 1 , Unique: [0 1]
Variable: X18, Min: 0, Max: 1 , Unique: [1 0]
Variable: X19, Min: 0, Max: 1 , Unique: [0 1]
Variable: X20, Min: 0, Max: 1 , Unique: [0 1]
Variable: X21, Min: 0, Max: 1 , Unique: [1 0]
Variable: X22, Min: 0, Max: 1 , Unique: [0 1]
Variable: X23, Min: 0, Max: 1 , Unique: [0 1]
Variable: X24, Min: 0, Max: 1 , Unique: [0 1]
Variable: X26, Min: 0, Max: 1 , Unique: [0 1]
Variable: X27, Min: 0, Max: 1 , Unique: [0 1]
Variable: X28, Min: 0, Max: 1 , Unique: [0 1]
Variable: X29, Min: 0, Max: 1 , Unique: [0 1]
Variable: X30, Min: 0, Max: 1 , Unique: [0 1]
Variable: X31, Min: 0, Max: 1 , Unique: [1 0]
Variable: X32, Min: 0, Max: 1 , Unique: [0 1]
Variable: X33, Min: 0, Max: 1 , Unique: [0 1]
Variable: X34, Min: 0, Max: 1 , Unique: [0 1]
Variable: X35, Min: 0, Max: 1 , Unique: [1 0]
Variable: X36, Min: 0, Max: 1 , Unique: [0 1]
Variable: X37, Min: 0, Max: 1 , Unique: [1 0]
Variable: X38, Min: 0, Max: 1 , Unique: [0 1]
Variable: X39, Min: 0, Max: 1 , Unique: [0 1]
Variable: X40, Min: 0, Max: 1 , Unique: [0 1]
Variable: X41, Min: 0, Max: 1 , Unique: [0 1]
Variable: X42, Min: 0, Max: 1 , Unique: [0 1]
Variable: X43, Min: 0, Max: 1 , Unique: [0 1]
Variable: X44, Min: 0, Max: 1 , Unique: [0 1]
Variable: X45, Min: 0, Max: 1 , Unique: [0 1]
Variable: X46, Min: 0, Max: 1 , Unique: [1 0]
Variable: X47, Min: 0, Max: 1 , Unique: [0 1]
Variable: X48, Min: 0, Max: 1 , Unique: [0 1]
Variable: X49, Min: 0, Max: 1 , Unique: [0 1]
Variable: X50, Min: 0, Max: 1 , Unique: [0 1]
Variable: X51, Min: 0, Max: 1 , Unique: [0 1]
Variable: X52, Min: 0, Max: 1 , Unique: [0 1]
Variable: X53, Min: 0, Max: 1 , Unique: [0 1]
Variable: X54, Min: 0, Max: 1 , Unique: [0 1]
Variable: X55, Min: 0, Max: 1 , Unique: [0 1]
Variable: X56, Min: 0, Max: 1 , Unique: [0 1]
Variable: X57, Min: 0, Max: 1 , Unique: [0 1]
Variable: X58, Min: 0, Max: 1 , Unique: [1 0]
Variable: X59, Min: 0, Max: 1 , Unique: [0 1]
Variable: X60, Min: 0, Max: 1 , Unique: [0 1]
Variable: X61, Min: 0, Max: 1 , Unique: [0 1]
Variable: X62, Min: 0, Max: 1 , Unique: [0 1]
Variable: X63, Min: 0, Max: 1 , Unique: [0 1]
Variable: X64, Min: 0, Max: 1 , Unique: [0 1]
Variable: X65, Min: 0, Max: 1 , Unique: [0 1]
Variable: X66, Min: 0, Max: 1 , Unique: [0 1]
Variable: X67, Min: 0, Max: 1 , Unique: [0 1]
Variable: X68, Min: 0, Max: 1 , Unique: [1 0]
Variable: X69, Min: 0, Max: 1 , Unique: [0 1]
Variable: X70, Min: 0, Max: 1 , Unique: [1 0]
Variable: X71, Min: 0, Max: 1 , Unique: [0 1]
Variable: X73, Min: 0, Max: 1 , Unique: [0 1]
Variable: X74, Min: 0, Max: 1 , Unique: [1 0]
Variable: X75, Min: 0, Max: 1 , Unique: [0 1]
Variable: X76, Min: 0, Max: 1 , Unique: [0 1]
Variable: X77, Min: 0, Max: 1 , Unique: [0 1]
Variable: X78, Min: 0, Max: 1 , Unique: [0 1]
Variable: X79, Min: 0, Max: 1 , Unique: [0 1]
Variable: X80, Min: 0, Max: 1 , Unique: [0 1]
Variable: X81, Min: 0, Max: 1 , Unique: [0 1]
Variable: X82, Min: 0, Max: 1 , Unique: [0 1]
Variable: X83, Min: 0, Max: 1 , Unique: [0 1]
Variable: X84, Min: 0, Max: 1 , Unique: [0 1]
Variable: X85, Min: 0, Max: 1 , Unique: [1 0]
Variable: X86, Min: 0, Max: 1 , Unique: [0 1]
Variable: X87, Min: 0, Max: 1 , Unique: [0 1]
Variable: X88, Min: 0, Max: 1 , Unique: [0 1]
Variable: X89, Min: 0, Max: 1 , Unique: [0 1]
Variable: X90, Min: 0, Max: 1 , Unique: [0 1]
Variable: X91, Min: 0, Max: 1 , Unique: [0 1]
Variable: X92, Min: 0, Max: 1 , Unique: [0 1]
Variable: X93, Min: 0, Max: 0 , Unique: [0]
Variable: X94, Min: 0, Max: 1 , Unique: [0 1]
Variable: X95, Min: 0, Max: 1 , Unique: [0 1]
Variable: X96, Min: 0, Max: 1 , Unique: [0 1]
Variable: X97, Min: 0, Max: 1 , Unique: [0 1]
Variable: X98, Min: 0, Max: 1 , Unique: [0 1]
Variable: X99, Min: 0, Max: 1 , Unique: [0 1]
Variable: X100, Min: 0, Max: 1 , Unique: [0 1]
Variable: X101, Min: 0, Max: 1 , Unique: [0 1]
Variable: X102, Min: 0, Max: 1 , Unique: [0 1]
Variable: X103, Min: 0, Max: 1 , Unique: [0 1]
Variable: X104, Min: 0, Max: 1 , Unique: [0 1]
Variable: X105, Min: 0, Max: 1 , Unique: [0 1]
Variable: X106, Min: 0, Max: 1 , Unique: [0 1]
Variable: X107, Min: 0, Max: 0 , Unique: [0]
Variable: X108, Min: 0, Max: 1 , Unique: [0 1]
Variable: X109, Min: 0, Max: 1 , Unique: [0 1]
Variable: X110, Min: 0, Max: 1 , Unique: [0 1]
Variable: X111, Min: 0, Max: 1 , Unique: [1 0]
Variable: X112, Min: 0, Max: 1 , Unique: [0 1]
Variable: X113, Min: 0, Max: 1 , Unique: [0 1]
Variable: X114, Min: 0, Max: 1 , Unique: [1 0]
Variable: X115, Min: 0, Max: 1 , Unique: [0 1]
Variable: X116, Min: 0, Max: 1 , Unique: [1 0]
Variable: X117, Min: 0, Max: 1 , Unique: [0 1]
Variable: X118, Min: 0, Max: 1 , Unique: [1 0]
Variable: X119, Min: 0, Max: 1 , Unique: [1 0]
Variable: X120, Min: 0, Max: 1 , Unique: [1 0]
Variable: X122, Min: 0, Max: 1 , Unique: [0 1]
Variable: X123, Min: 0, Max: 1 , Unique: [0 1]
Variable: X124, Min: 0, Max: 1 , Unique: [0 1]
Variable: X125, Min: 0, Max: 1 , Unique: [0 1]
Variable: X126, Min: 0, Max: 1 , Unique: [0 1]
Variable: X127, Min: 0, Max: 1 , Unique: [0 1]
Variable: X128, Min: 0, Max: 1 , Unique: [1 0]
Variable: X129, Min: 0, Max: 1 , Unique: [0 1]
Variable: X130, Min: 0, Max: 1 , Unique: [0 1]
Variable: X131, Min: 0, Max: 1 , Unique: [1 0]
Variable: X132, Min: 0, Max: 1 , Unique: [0 1]
Variable: X133, Min: 0, Max: 1 , Unique: [0 1]
Variable: X134, Min: 0, Max: 1 , Unique: [0 1]
Variable: X135, Min: 0, Max: 1 , Unique: [0 1]
Variable: X136, Min: 0, Max: 1 , Unique: [1 0]
Variable: X137, Min: 0, Max: 1 , Unique: [1 0]
Variable: X138, Min: 0, Max: 1 , Unique: [0 1]
Variable: X139, Min: 0, Max: 1 , Unique: [0 1]
Variable: X140, Min: 0, Max: 1 , Unique: [0 1]
Variable: X141, Min: 0, Max: 1 , Unique: [0 1]
Variable: X142, Min: 0, Max: 1 , Unique: [1 0]
Variable: X143, Min: 0, Max: 1 , Unique: [0 1]
Variable: X144, Min: 0, Max: 1 , Unique: [1 0]
Variable: X145, Min: 0, Max: 1 , Unique: [0 1]
Variable: X146, Min: 0, Max: 1 , Unique: [0 1]
Variable: X147, Min: 0, Max: 1 , Unique: [0 1]
Variable: X148, Min: 0, Max: 1 , Unique: [0 1]
Variable: X150, Min: 0, Max: 1 , Unique: [1 0]
Variable: X151, Min: 0, Max: 1 , Unique: [0 1]
Variable: X152, Min: 0, Max: 1 , Unique: [0 1]
Variable: X153, Min: 0, Max: 1 , Unique: [0 1]
Variable: X154, Min: 0, Max: 1 , Unique: [0 1]
Variable: X155, Min: 0, Max: 1 , Unique: [0 1]
Variable: X156, Min: 0, Max: 1 , Unique: [1 0]
Variable: X157, Min: 0, Max: 1 , Unique: [0 1]
Variable: X158, Min: 0, Max: 1 , Unique: [0 1]
Variable: X159, Min: 0, Max: 1 , Unique: [0 1]
Variable: X160, Min: 0, Max: 1 , Unique: [0 1]
Variable: X161, Min: 0, Max: 1 , Unique: [0 1]
Variable: X162, Min: 0, Max: 1 , Unique: [0 1]
Variable: X163, Min: 0, Max: 1 , Unique: [0 1]
Variable: X164, Min: 0, Max: 1 , Unique: [0 1]
Variable: X165, Min: 0, Max: 1 , Unique: [0 1]
Variable: X166, Min: 0, Max: 1 , Unique: [0 1]
Variable: X167, Min: 0, Max: 1 , Unique: [0 1]
Variable: X168, Min: 0, Max: 1 , Unique: [0 1]
Variable: X169, Min: 0, Max: 1 , Unique: [0 1]
Variable: X170, Min: 0, Max: 1 , Unique: [1 0]
Variable: X171, Min: 0, Max: 1 , Unique: [0 1]
Variable: X172, Min: 0, Max: 1 , Unique: [0 1]
Variable: X173, Min: 0, Max: 1 , Unique: [0 1]
Variable: X174, Min: 0, Max: 1 , Unique: [0 1]
Variable: X175, Min: 0, Max: 1 , Unique: [0 1]
Variable: X176, Min: 0, Max: 1 , Unique: [0 1]
Variable: X177, Min: 0, Max: 1 , Unique: [0 1]
Variable: X178, Min: 0, Max: 1 , Unique: [0 1]
Variable: X179, Min: 0, Max: 1 , Unique: [1 0]
Variable: X180, Min: 0, Max: 1 , Unique: [0 1]
Variable: X181, Min: 0, Max: 1 , Unique: [0 1]
Variable: X182, Min: 0, Max: 1 , Unique: [0 1]
Variable: X183, Min: 0, Max: 1 , Unique: [0 1]
Variable: X184, Min: 0, Max: 1 , Unique: [1 0]
Variable: X185, Min: 0, Max: 1 , Unique: [0 1]
Variable: X186, Min: 0, Max: 1 , Unique: [0 1]
Variable: X187, Min: 0, Max: 1 , Unique: [1 0]
Variable: X189, Min: 0, Max: 1 , Unique: [1 0]
Variable: X190, Min: 0, Max: 1 , Unique: [0 1]
Variable: X191, Min: 0, Max: 1 , Unique: [0 1]
Variable: X192, Min: 0, Max: 1 , Unique: [0 1]
Variable: X194, Min: 0, Max: 1 , Unique: [1 0]
Variable: X195, Min: 0, Max: 1 , Unique: [0 1]
Variable: X196, Min: 0, Max: 1 , Unique: [0 1]
Variable: X197, Min: 0, Max: 1 , Unique: [0 1]
Variable: X198, Min: 0, Max: 1 , Unique: [0 1]
Variable: X199, Min: 0, Max: 1 , Unique: [0 1]
Variable: X200, Min: 0, Max: 1 , Unique: [0 1]
Variable: X201, Min: 0, Max: 1 , Unique: [0 1]
Variable: X202, Min: 0, Max: 1 , Unique: [0 1]
Variable: X203, Min: 0, Max: 1 , Unique: [0 1]
Variable: X204, Min: 0, Max: 1 , Unique: [1 0]
Variable: X205, Min: 0, Max: 1 , Unique: [0 1]
Variable: X206, Min: 0, Max: 1 , Unique: [0 1]
Variable: X207, Min: 0, Max: 1 , Unique: [0 1]
Variable: X208, Min: 0, Max: 1 , Unique: [0 1]
Variable: X209, Min: 0, Max: 1 , Unique: [1 0]
Variable: X210, Min: 0, Max: 1 , Unique: [0 1]
Variable: X211, Min: 0, Max: 1 , Unique: [0 1]
Variable: X212, Min: 0, Max: 1 , Unique: [0 1]
Variable: X213, Min: 0, Max: 1 , Unique: [0 1]
Variable: X214, Min: 0, Max: 1 , Unique: [0 1]
Variable: X215, Min: 0, Max: 1 , Unique: [0 1]
Variable: X216, Min: 0, Max: 1 , Unique: [0 1]
Variable: X217, Min: 0, Max: 1 , Unique: [0 1]
Variable: X218, Min: 0, Max: 1 , Unique: [0 1]
Variable: X219, Min: 0, Max: 1 , Unique: [0 1]
Variable: X220, Min: 0, Max: 1 , Unique: [1 0]
Variable: X221, Min: 0, Max: 1 , Unique: [0 1]
Variable: X222, Min: 0, Max: 1 , Unique: [0 1]
Variable: X223, Min: 0, Max: 1 , Unique: [0 1]
Variable: X224, Min: 0, Max: 1 , Unique: [0 1]
Variable: X225, Min: 0, Max: 1 , Unique: [0 1]
Variable: X226, Min: 0, Max: 1 , Unique: [0 1]
Variable: X227, Min: 0, Max: 1 , Unique: [0 1]
Variable: X228, Min: 0, Max: 1 , Unique: [0 1]
Variable: X229, Min: 0, Max: 1 , Unique: [0 1]
Variable: X230, Min: 0, Max: 1 , Unique: [0 1]
Variable: X231, Min: 0, Max: 1 , Unique: [0 1]
Variable: X232, Min: 0, Max: 1 , Unique: [0 1]
Variable: X233, Min: 0, Max: 0 , Unique: [0]
Variable: X234, Min: 0, Max: 1 , Unique: [1 0]
Variable: X235, Min: 0, Max: 0 , Unique: [0]
Variable: X236, Min: 0, Max: 1 , Unique: [0 1]
Variable: X237, Min: 0, Max: 1 , Unique: [1 0]
Variable: X238, Min: 0, Max: 1 , Unique: [0 1]
Variable: X239, Min: 0, Max: 1 , Unique: [0 1]
Variable: X240, Min: 0, Max: 1 , Unique: [0 1]
Variable: X241, Min: 0, Max: 1 , Unique: [0 1]
Variable: X242, Min: 0, Max: 1 , Unique: [0 1]
Variable: X243, Min: 0, Max: 1 , Unique: [0 1]
Variable: X244, Min: 0, Max: 1 , Unique: [0 1]
Variable: X245, Min: 0, Max: 1 , Unique: [0 1]
Variable: X246, Min: 0, Max: 1 , Unique: [0 1]
Variable: X247, Min: 0, Max: 1 , Unique: [0 1]
Variable: X248, Min: 0, Max: 1 , Unique: [0 1]
Variable: X249, Min: 0, Max: 1 , Unique: [0 1]
Variable: X250, Min: 0, Max: 1 , Unique: [0 1]
Variable: X251, Min: 0, Max: 1 , Unique: [0 1]
Variable: X252, Min: 0, Max: 1 , Unique: [0 1]
Variable: X253, Min: 0, Max: 1 , Unique: [0 1]
Variable: X254, Min: 0, Max: 1 , Unique: [0 1]
Variable: X255, Min: 0, Max: 1 , Unique: [0 1]
Variable: X256, Min: 0, Max: 1 , Unique: [0 1]
Variable: X257, Min: 0, Max: 1 , Unique: [0 1]
Variable: X258, Min: 0, Max: 1 , Unique: [0 1]
Variable: X259, Min: 0, Max: 1 , Unique: [0 1]
Variable: X260, Min: 0, Max: 1 , Unique: [0 1]
Variable: X261, Min: 0, Max: 1 , Unique: [0 1]
Variable: X262, Min: 0, Max: 1 , Unique: [1 0]
Variable: X263, Min: 0, Max: 1 , Unique: [1 0]
Variable: X264, Min: 0, Max: 1 , Unique: [0 1]
Variable: X265, Min: 0, Max: 1 , Unique: [0 1]
Variable: X266, Min: 0, Max: 1 , Unique: [1 0]
Variable: X267, Min: 0, Max: 1 , Unique: [0 1]
Variable: X268, Min: 0, Max: 0 , Unique: [0]
Variable: X269, Min: 0, Max: 1 , Unique: [0 1]
Variable: X270, Min: 0, Max: 1 , Unique: [0 1]
Variable: X271, Min: 0, Max: 1 , Unique: [0 1]
Variable: X272, Min: 0, Max: 1 , Unique: [0 1]
Variable: X273, Min: 0, Max: 1 , Unique: [1 0]
Variable: X274, Min: 0, Max: 1 , Unique: [0 1]
Variable: X275, Min: 0, Max: 1 , Unique: [1 0]
Variable: X276, Min: 0, Max: 1 , Unique: [0 1]
Variable: X277, Min: 0, Max: 1 , Unique: [0 1]
Variable: X278, Min: 0, Max: 1 , Unique: [0 1]
Variable: X279, Min: 0, Max: 1 , Unique: [0 1]
Variable: X280, Min: 0, Max: 1 , Unique: [0 1]
Variable: X281, Min: 0, Max: 1 , Unique: [0 1]
Variable: X282, Min: 0, Max: 1 , Unique: [0 1]
Variable: X283, Min: 0, Max: 1 , Unique: [0 1]
Variable: X284, Min: 0, Max: 1 , Unique: [0 1]
Variable: X285, Min: 0, Max: 1 , Unique: [1 0]
Variable: X286, Min: 0, Max: 1 , Unique: [0 1]
Variable: X287, Min: 0, Max: 1 , Unique: [0 1]
Variable: X288, Min: 0, Max: 1 , Unique: [0 1]
Variable: X289, Min: 0, Max: 0 , Unique: [0]
Variable: X290, Min: 0, Max: 0 , Unique: [0]
Variable: X291, Min: 0, Max: 1 , Unique: [0 1]
Variable: X292, Min: 0, Max: 1 , Unique: [0 1]
Variable: X293, Min: 0, Max: 0 , Unique: [0]
Variable: X294, Min: 0, Max: 1 , Unique: [0 1]
Variable: X295, Min: 0, Max: 1 , Unique: [0 1]
Variable: X296, Min: 0, Max: 1 , Unique: [0 1]
Variable: X297, Min: 0, Max: 0 , Unique: [0]
Variable: X298, Min: 0, Max: 1 , Unique: [0 1]
Variable: X299, Min: 0, Max: 1 , Unique: [0 1]
Variable: X300, Min: 0, Max: 1 , Unique: [0 1]
Variable: X301, Min: 0, Max: 1 , Unique: [0 1]
Variable: X302, Min: 0, Max: 1 , Unique: [0 1]
Variable: X304, Min: 0, Max: 1 , Unique: [0 1]
Variable: X305, Min: 0, Max: 1 , Unique: [0 1]
Variable: X306, Min: 0, Max: 1 , Unique: [1 0]
Variable: X307, Min: 0, Max: 1 , Unique: [0 1]
Variable: X308, Min: 0, Max: 1 , Unique: [0 1]
Variable: X309, Min: 0, Max: 1 , Unique: [0 1]
Variable: X310, Min: 0, Max: 1 , Unique: [0 1]
Variable: X311, Min: 0, Max: 1 , Unique: [0 1]
Variable: X312, Min: 0, Max: 1 , Unique: [0 1]
Variable: X313, Min: 0, Max: 1 , Unique: [0 1]
Variable: X314, Min: 0, Max: 1 , Unique: [0 1]
Variable: X315, Min: 0, Max: 1 , Unique: [0 1]
Variable: X316, Min: 0, Max: 1 , Unique: [1 0]
Variable: X317, Min: 0, Max: 1 , Unique: [0 1]
Variable: X318, Min: 0, Max: 1 , Unique: [0 1]
Variable: X319, Min: 0, Max: 1 , Unique: [0 1]
Variable: X320, Min: 0, Max: 1 , Unique: [0 1]
Variable: X321, Min: 0, Max: 1 , Unique: [0 1]
Variable: X322, Min: 0, Max: 1 , Unique: [0 1]
Variable: X323, Min: 0, Max: 1 , Unique: [0 1]
Variable: X324, Min: 0, Max: 1 , Unique: [1 0]
Variable: X325, Min: 0, Max: 1 , Unique: [0 1]
Variable: X326, Min: 0, Max: 1 , Unique: [0 1]
Variable: X327, Min: 0, Max: 1 , Unique: [1 0]
Variable: X328, Min: 0, Max: 1 , Unique: [0 1]
Variable: X329, Min: 0, Max: 1 , Unique: [1 0]
Variable: X330, Min: 0, Max: 0 , Unique: [0]
Variable: X331, Min: 0, Max: 1 , Unique: [0 1]

Variable: X332, Min: 0, Max: 1 , Unique: [0 1]
Variable: X333, Min: 0, Max: 1 , Unique: [0 1]
Variable: X334, Min: 0, Max: 1 , Unique: [1 0]
Variable: X335, Min: 0, Max: 1 , Unique: [0 1]
Variable: X336, Min: 0, Max: 1 , Unique: [0 1]
Variable: X337, Min: 0, Max: 1 , Unique: [0 1]
Variable: X338, Min: 0, Max: 1 , Unique: [0 1]
Variable: X339, Min: 0, Max: 1 , Unique: [0 1]
Variable: X340, Min: 0, Max: 1 , Unique: [0 1]
Variable: X341, Min: 0, Max: 1 , Unique: [0 1]
Variable: X342, Min: 0, Max: 1 , Unique: [0 1]
Variable: X343, Min: 0, Max: 1 , Unique: [0 1]
Variable: X344, Min: 0, Max: 1 , Unique: [0 1]
Variable: X345, Min: 0, Max: 1 , Unique: [0 1]
Variable: X346, Min: 0, Max: 1 , Unique: [0 1]
Variable: X347, Min: 0, Max: 0 , Unique: [0]
Variable: X348, Min: 0, Max: 1 , Unique: [0 1]
Variable: X349, Min: 0, Max: 1 , Unique: [0 1]
Variable: X350, Min: 0, Max: 1 , Unique: [0 1]
Variable: X351, Min: 0, Max: 1 , Unique: [0 1]
Variable: X352, Min: 0, Max: 1 , Unique: [0 1]
Variable: X353, Min: 0, Max: 1 , Unique: [0 1]
Variable: X354, Min: 0, Max: 1 , Unique: [1 0]
Variable: X355, Min: 0, Max: 1 , Unique: [0 1]
Variable: X356, Min: 0, Max: 1 , Unique: [0 1]
Variable: X357, Min: 0, Max: 1 , Unique: [0 1]
Variable: X358, Min: 0, Max: 1 , Unique: [0 1]
Variable: X359, Min: 0, Max: 1 , Unique: [0 1]
Variable: X360, Min: 0, Max: 1 , Unique: [0 1]
Variable: X361, Min: 0, Max: 1 , Unique: [1 0]
Variable: X362, Min: 0, Max: 1 , Unique: [0 1]
Variable: X363, Min: 0, Max: 1 , Unique: [0 1]
Variable: X364, Min: 0, Max: 1 , Unique: [0 1]
Variable: X365, Min: 0, Max: 1 , Unique: [0 1]
Variable: X366, Min: 0, Max: 1 , Unique: [0 1]
Variable: X367, Min: 0, Max: 1 , Unique: [0 1]
Variable: X368, Min: 0, Max: 1 , Unique: [0 1]
Variable: X369, Min: 0, Max: 1 , Unique: [0 1]
Variable: X370, Min: 0, Max: 1 , Unique: [0 1]
Variable: X371, Min: 0, Max: 1 , Unique: [0 1]
Variable: X372, Min: 0, Max: 1 , Unique: [0 1]
Variable: X373, Min: 0, Max: 1 , Unique: [0 1]
Variable: X374, Min: 0, Max: 1 , Unique: [0 1]
Variable: X375, Min: 0, Max: 1 , Unique: [0 1]
Variable: X376, Min: 0, Max: 1 , Unique: [0 1]
Variable: X377, Min: 0, Max: 1 , Unique: [1 0]
Variable: X378, Min: 0, Max: 1 , Unique: [0 1]
Variable: X379, Min: 0, Max: 1 , Unique: [0 1]
Variable: X380, Min: 0, Max: 1 , Unique: [0 1]
Variable: X382, Min: 0, Max: 1 , Unique: [0 1]
Variable: X383, Min: 0, Max: 1 , Unique: [0 1]
Variable: X384, Min: 0, Max: 1 , Unique: [0 1]
Variable: X385, Min: 0, Max: 1 , Unique: [0 1]

In [155]:
print('Variables only with 0:', drop)

if len(drop) + len(binarys) == len(tp_int):
    print('All other integer variables are binary')

Variables only with 0: ['X11', 'X93', 'X107', 'X233', 'X235', 'X268', 'X289', 'X290', 'X293', 'X297', 'X330', 'X347']
All other integer variables are binary

In [160]:
#Dropping variables only with zero
data = data.drop(drop, axis = 1)

# One hot enconding

In [194]:
#Best way to work with categorical variables? I don't think is the best in all case. I will study about that

for each in tp_obj:
    dummies = pd.get_dummies(data[each], prefix=each, drop_first=False)
    data = pd.concat([data, dummies], axis=1)

data = data.drop(tp_obj, axis=1)
data.head()

,ID,y,X10,X12,X13,X14,X15,X16,X17,X18,...,X8_p,X8_q,X8_r,X8_s,X8_t,X8_u,X8_v,X8_w,X8_x,X8_y
0,0,130.81,0,0,1,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1,6,88.53,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
2,7,76.26,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,9,80.62,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,13,78.02,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

# Splitting data into training/testing

In [204]:
train_features, test_features, train_y, test_y = model_selection.train_test_split(
    data, data['y'], test_size = 0.3, random_state = 0)

In [213]:
train_features = train_features.drop(['ID', 'y'], axis = 1)
test_features = test_features.drop(['ID', 'y'], axis = 1)

# Random Forest

In [228]:
from sklearn.ensemble import RandomForestRegressor

randomforest = RandomForestRegressor(n_estimators=200, max_features='auto', bootstrap=False, 
                                   oob_score=False, n_jobs=-1, random_state=0).fit(train_features, train_y)

randomforest_score = randomforest.score(test_features, test_y)
print('RF Score:', randomforest_score)

predict = randomforest.predict(test_features)

slope, intercept, r_value, p_value, std_err = stats.linregress(predict, test_y)
print('R Square:', r_value**2)

RF Score: 0.274176879909
R Square: 0.368802171436

# Submission

In [231]:
data_test = pd.read_csv(os.path.join(datapath,test_csv))

In [234]:
data_test.head()

,ID,X0,X1,X2,X3,X4,X5,X6,X8,X10,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,1,az,v,n,f,d,t,a,w,0,...,0,0,0,1,0,0,0,0,0,0
1,2,t,b,ai,a,d,b,g,y,0,...,0,0,1,0,0,0,0,0,0,0
2,3,az,v,as,f,d,a,j,j,0,...,0,0,0,1,0,0,0,0,0,0
3,4,az,l,n,f,d,z,l,n,0,...,0,0,0,1,0,0,0,0,0,0
4,5,w,s,as,c,d,y,i,m,0,...,1,0,0,0,0,0,0,0,0,0

In [235]:
#Dropping variables only with zero
data_test = data_test.drop(drop, axis = 1)

In [236]:
for each in tp_obj:
    dummies = pd.get_dummies(data_test[each], prefix=each, drop_first=False)
    data_test = pd.concat([data_test, dummies], axis=1)

data_test = data_test.drop(tp_obj, axis=1)
data_test.head()

,ID,X10,X12,X13,X14,X15,X16,X17,X18,X19,...,X8_p,X8_q,X8_r,X8_s,X8_t,X8_u,X8_v,X8_w,X8_x,X8_y
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,2,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
2,3,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [244]:
predict_test = randomforest.predict(data_test.iloc[:, 1:])
#Error :(

ValueError: Number of features of the model must match the input. Model n_features is 746 and input n_features is 557